%_details-item {
  border-radius: 4px;

  background-color: var(--mode-elements);

  box-shadow: 0 0 0 2px var(--mode-shadow);
}

.host {
  display: block;
}

.title {
  margin-top: 0;
}

.action {
  padding-bottom: 20px;
}

.info {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  gap: 100px;

  align-items: center;
}

.flag {
  display: block;

  object-fit: contain;

  width: 100%;

  max-height: 400px;
}

.descriptionSection {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 50px;
}

.descriptionList {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.bordersWrapper {
  margin-top: 20px;
}

.borders {
  display: inline-flex;
  flex-wrap: wrap;
  gap: 10px;
}

.item {
  @extend %_details-item;

  padding: 5px 25px;
}

.link {
  @extend %_details-item;

  padding: 10px 25px;
}

.linkTitle {
  margin-left: 5px;

  font-weight: 700;
}
