.host {
  min-height: 100vh;

  display: grid;
  grid-template-rows: auto 1fr auto;

  max-width: 1440px;
  margin: 0 auto;

  background-color: var(--mode-background);

  color: var(--mode-text);
}

.main {
  padding: var(--mode-pudding);
}
