:root {
  --mode-elements: hsl(0, 0%, 100%);
  --mode-background: hsl(0, 0%, 98%);
  --mode-text: hsl(200, 15%, 8%);
  --mode-input: hsl(0, 0%, 52%);

  --mode-pudding: 16px;

  --mode-primary: #000000;

  --mode-shadow: hsl(0deg 0% 88.52%);

  @media (min-width: 725px) {
    --mode-pudding: 35px;
  }
  // color-scheme: light dark;;
}

* {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  scrollbar-gutter: stable;
}

body,
input,
button,
a {
  font-family: "Nunito Sans", sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  -webkit-text-size-adjust: 100%;

  color: var(--mode-text);
}

button,
a {
  display: inline-flex;

  border: none;
  outline: none;
  text-decoration: none;
  background: none;

  cursor: pointer;
}

.__dark-mode__ {
  --mode-elements: hsl(209, 23%, 22%);
  --mode-background: hsl(207, 26%, 17%);
  --mode-text: hsl(0, 0%, 100%);
  --mode-input: hsl(0, 0%, 52%);
  --mode-shadow: hsl(0deg 0% 17.66%);
  --mode-primary: rebeccapurple;
}

// @media (prefers-color-scheme: light) {
//   :root {
//     color: #213547;
//     background-color: #ffffff;
//   }
//   a:hover {
//     color: #747bff;
//   }
//   button {
//     background-color: #f9f9f9;
//   }
